*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 5px;
}

.container {
    position: relative;
    margin: 50px auto;
    border: 2px solid #dbdbdb;
    width: 600px;
    height: 800px;
    background-color: white;
    overflow: hidden;
}

input, textarea {
    border: none;
    padding: 5px;
    outline: none;    
}

input:focus, textarea {
    background-color: #fafafa;
}

input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #fff inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }

button {
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #fafafa;
}

button:active {
    background-color: #f0f0f0;
}