.main-container {
    margin: 10px auto;
    width: 550px;
    height: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.main-title {
    margin: 20px 0px 0px 20px;
    font-size: 36px;
}

.todo-input-container {
    position: relative;
    display: flex;
    align-items: flex-end;

    margin: 0px 0px 3px;
    border-bottom: 1px solid #dbdbdb;
    padding: 0px 50px 0px 0px;
    width: 70%;
    height: 40px;
}

.todo-input-container .fa-file-lines {
    font-size: 20px;
    margin: 8px ;
}

.todo-input {
    padding: 0 70px;
    width: 100%;
    height: 100%;
    transition: padding .5s ease;
}

.todo-input:focus {
    padding: 0px 10px;

}

.add-todo-button {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0px;

    border: none;
    padding: 5px 20px;
    height: 100%;
}

.todo-content-list {
    display: flex;
    flex-wrap: wrap;

    padding: 20px;
    width: 100%;
    height: 88%;

    overflow-y: auto;
}

.content-container {
    margin: 10px;
    width: 230px;
    height: 230px;

    box-shadow: 0px 0px 5px 1px #dbdbdb;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.content-container:hover {
    box-shadow: 0px 0px 10px 1px #121212;;
}

.content-header {
    display: flex;
    justify-content: space-between;
    
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 10px 5px;
    height: 20%;    
}

.todo-date {
    display: flex;
    align-items: flex-start;

    height: 100%;
    font-size: 20px;
    line-height: 15px;
}

.todo-date-time {
    display: flex;
    align-items: flex-end;

    font-size: 11px;
   
}

.content-main {
    height: 70%;
}

.content-footer {
    height: 10%;
}