@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
   
    font-family: 'Gaegu', cursive, 'Noto Sans KR', sans-serif;
    color: #121212;
}

.text1 {
    display: inline-block;
    box-sizing: border-box;
    margin: 10px ;
    border: 1px solid #121212;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.box1 {
    display: inline-block;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #121212;
    padding: 5px;
    width: 100px;
    height: 100px;
}