* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}



.main-header {
    background-color: #161617cc;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
    padding: 0px 22px;
    width: 1024px;
    height: 44px;
    font-size: 12px;
    color: #fafafa;
}

.menu-nav > li {
    display: flex;
    align-items: center;
    padding: 0px 9px;
    height: 100%;

    
    cursor: pointer;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0px 22px;
    width: 1024px;
    height: 52px;
}

.sub-header-title {
    margin: 0;
    font-size: 21px;
}

.sub-header-right {
    display: inline-flex;
    align-items: center;
    
    font-size: 12px;
    
}

.sub-header-right a {
    margin: 0px 5px;
    padding: 0px 5px;
    
}

.sub-header-right > li{
    display: flex;
    align-items: center;

    
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    max-width: 2560px;
}

.iphone-14 {
    background-color: bisque;
    width: 100%;
    height: 345px;
}

.iphone-14pro {
    background-color: aquamarine;
    width: 100%;
    height: 345px;
}

.watch {
    background-color: rgb(42, 67, 59);
    width: 100%;
    height: 345px;
}

.pad-mac {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 345px;
}

.pad-mac > div {
    width: 50%;
    height: 100%;
}

.pad-mac > div:nth-child(odd){
    background-color: goldenrod;
}

.pad-mac > div:nth-child(even){
    background-color: rgb(218, 82, 32);
}

